<nav>
    <div class="logo">
        <img src="assets/OnlyBunsLogoIcon.png" class="nav-image">
      </div>

      <ng-container *ngIf="!isAuthenticated">
            <div class="center-nav-icons">
              <ul class="nav-icons">
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/login">Login</a></li>
              </ul>
            </div>
      </ng-container>
  
      <!-- *ngIf="isAuthenticated && !isAdmin" -->
      <div class="center-nav-icons" *ngIf="isAuthenticated">
        <ul class="nav-icons">
          <li><a (click)="navigateHome()"><i class="fas fa-home"></i></a></li>
          <li><a routerLink="/network-trends"><i class="fa fa-compass" aria-hidden="true"></i></a></li>
          <li><a routerLink="/create-post"><i class="far fa-plus-square"></i></a></li>
          <li><a routerLink="/nearby"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
          <li><a routerLink="/chats"><i class="fas fa-comments"></i></a></li>
          <li><a routerLink="/users"><i class="fa fa-user" aria-hidden="true"></i></a></li>
        </ul>
      </div>

    <!-- User icon with dropdown on the right side -->
    <div class="user-menu">
        <ul class="nav-icons">
          <li><i class="fas fa-user-circle" (click)="toggleDropdown()"></i>
            <div *ngIf="dropdownOpen" class="dropdown">
              <a routerLink="/settings" *ngIf="isAuthenticated"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
              <a *ngIf="isAuthenticated" (click)="navigateToProfile()"><i class="fas fa-user-circle" aria-hidden="true"></i> Profile</a>
              <a routerLink="/all-users" *ngIf="isAdmin"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
              <a (click)="isAuthenticated ? logout() : loginRedirect()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> {{ isAuthenticated ? 'Logout' : 'Login' }}
              </a>  
                          
            </div>
          </li>
        </ul>
      </div>
  </nav>
  